*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  #grade{
    margin: 0;
    padding: 0;
    background: linear-gradient(120deg,#003399 0%, #ff99cc 100%);
    height: 100vh;
    overflow: hidden;
    
  }
  #grade.active div:not(#popup2){
    filter: blur(5px);
  }
  .center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 350px;
    background: white;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
  }
  .center h1{
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid silver;
  }
  .center form{
    padding: 0 40px;
    box-sizing: border-box;
  }
  form .txt_field{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
  }
  .txt_field input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
  }
  .txt_field label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
  }
  .txt_field span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #2691d9;
    transition: .5s;
  }
  .txt_field input:focus ~ label,
  .txt_field input:valid ~ label{
    top: -5px;
    color: #2691d9;
  }
  .txt_field input:focus ~ span::before,
  .txt_field input:valid ~ span::before{
    width: 100%;
  }
  .pass{
    margin: -5px 0 20px 5px;
    color: #a6a6a6;
    cursor: pointer;
  }
  .pass:hover{
    text-decoration: underline;
  }
  .submit{
    justify-content: center;
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #2691d9;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
  }
  .submit:hover{
    border-color: #2691d9;
    transition: .5s;
  }
  .sub {
    padding: 0 40px;
    box-sizing: border-box;
  }
  #popup2{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 200px;
    width: 500px;
    background: #2691d9;
    border-radius: 20px;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
  }
  #popup2.active{
    top: 60%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
  }
  a{
    position: relative;
    font-size: 20px;
    left: 45%;
    width: 100px;
    padding:  20px;
    display: inline-block;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    background: #111;
  }
  h2{
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid silver;
  } 
  