*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    padding: 30;
    margin: 20;
    display:flex;
    justify-content:center;
    align-items:flex-end;
    width: auto;
    height: fit-content;
    background-repeat: no-repeat;
    background-color: azure;
    background-size: cover;
}

.container {
    width: 420px;
    max-width: 50%;
    background-color:aqua;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 2px 0;
}
