*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    padding: 30;
    margin: 20;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: auto;
    height: fit-content;
    background-image: url("https://i.ibb.co/pvcDt6r/background-1.jpg");
    background-repeat: no-repeat;
    background-color: black;
    background-size: cover;
}

.container {
    width: 570px;
    max-width: 50%;
    background-color: rgb(77, 145, 201);
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 0 10px 2px;   
}
