<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
<!--Linking Bootstrap and CSS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./static/css/aboutus.css">
<!--Favicon-->
    <link rel="apple-touch-icon" sizes="180x180" href="./static/logo/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./static/logo/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./static/logo/favicon-16x16.png">
    <link rel="manifest" href="./static/logo/site.webmanifest">

</head>

<body>
<!--Navbar-->

    <div class="topnav" id="myTopnav">
        <div class="fullnavbar">
            <a href="#home" class="active">Virgin Hyperloop</a>
            <a onclick="window.location.href='{{'/'}}'">Home</a>
            <a onclick="window.location.href='{{'/loginfo'}}'">Employee Access</a>
            <a onclick="window.location.href='{{'/aboutus'}}'">About Us</a>
            <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
        </div>
    </div>

<!--content--> 

    <section>
        <div class="container">
            <div class="alltext">
                <b>Team: LEVITATION | HO-222553 </b>
            </div>
            <div class="img-wrap" id="picture">
                <img src="./static/bg/logo.png">
            </div>
        </div>
        <br>
        
        <div class="container">
<!--Teammate: Subha Bal Pal-->
            <div class="card">
                <div class="content">
                    <div class="imgBx">
                        <img src="./static/bg/shubha.jpeg">
                    </div>
                    <br>
                    <div class="contentBx">
                        <h3><b>Mr. Subha Bal Pal</b></h3>
                    </div>
                    <div class="about">
                        “Solving complexity is the essence of programming”
                    </div>
                </div>
                <ul class="sci">
                    <li style="--i:1">
                        <a href="https://www.linkedin.com/in/subha-bal-pal-3b4643226" target="blank"><i class="fa fa-linkedin" aria-hidden="true"></i> </a>
                    </li>
                    <li style="--i:2">
                        <a href="https://github.com/mohit2pal" target="blank"><i class="fa fa-github" aria-hidden="true"></i> </a>
                    </li>
                    <li style="--i:3">
                        <a href="https://www.instagram.com/xican74860/" target="blank"><i class="fa fa-instagram" aria-hidden="true"></i> </a>
                    </li>
                </ul>
            </div>

<!--Teammate: Abhishek Yadav-->

            <div class="card">
                <div class="content">
                    <div class="imgBx">
                        <img src="./static/bg/abhishek.jpeg">
                    </div>
                    <br>
                    <div class="contentBx">
                        <h3><b>Mr. Abhishek Yadav</b></h3>
                    </div>
                    <div class="about">
                        “In order to be irreplaceable, one must always be different”
                    </div>
                </div>
                <ul class="sci">
                    <li style="--i:1">
                        <a href="https://www.linkedin.com/in/abhishek-yadav-1547b2221" target="blank"><i class="fa fa-linkedin" aria-hidden="true"></i> </a>
                    </li>
                    <li style="--i:2">
                        <a href="https://github.com/Abhi3423" target="blank"><i class="fa fa-github" aria-hidden="true"></i> </a>
                    </li>
                    <li style="--i:3">
                        <a href="https://www.instagram.com/_abhi7687/" target="blank"><i class="fa fa-instagram" aria-hidden="true"></i> </a>
                    </li>
                </ul>
            </div>

<!--Teammate: Shubhanshu Tiwari-->

            <div class="card">
                <div class="content">
                    <div class="imgBx">
                        <img src="./static/bg/shubhanshu.jpeg">
                    </div>
                    <br>
                    <div class="contentBx">
                        <h3><b>Mr. Shubhanshu Tiwari</b></h3>
                    </div>
                    <div class="about">
                        “Design is not a thing you do, its a way of life”
                    </div>
                </div>
                <ul class="sci">
                    <li style="--i:1">
                        <a href="https://www.linkedin.com/in/shubhanshu-tiwari-652a44217" target="blank"><i class="fa fa-linkedin" aria-hidden="true"></i> </a>
                    </li>
                    <li style="--i:2">
                        <a href="https://github.com/shubhanshutiwari08" target="blank"><i class="fa fa-github" aria-hidden="true"></i> </a>
                    </li>
                    <li style="--i:3">
                        <a href="https://www.instagram.com/shubhanshu_08/" target="blank"><i class="fa fa-instagram" aria-hidden="true"></i> </a>
                    </li>
                </ul>
            </div>

        </div>

    </section>
    </div>

<!--JavaScript-->

    <script>
        function myFunction() {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        }
    </script>

</body>

</html>