<!DOCTYPE html>
<html>
<head>
	<title>About Us Section</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css" integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="./static/css/aboutus.css">
</head>	
<body>
  <div class="navbar ">
    <div class="topnav" id="myTopnav">
      <a href="">Virgin Hyperloop</a>
      <a onclick="window.location.href='{{'/'}}'">Home</a>
      <a onclick="window.location.href='{{'/worker'}}'">Worker</a>
      <a onclick="window.location.href='{{'/aboutus'}}'">About Us</a>
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
      </a>
    </div>
  </div>

	<div class="section">
		<div class="container">
			<div class="content-section">
				<div class="title">
					<h1>About Us</h1>
				</div>
				<div class="content">
					
					<p>Team LEVITATION feels glad to contribute idea of management for
            Virgin Hyperloop in INDIA for Mumbai-Pune route. We have
            analyzed and tried to give solutions for various problems which
            can occur during passengers journey. Passenger flow is prepared in
            such a way that no crowd gathering occurs. Our idea totally
            focuses on saving time of passengers and providing them comfort
            during their journey.
          </p>
					
				</div>
				<div class="container">
					<div class="header">
						<h1>Our Team</h1>
					</div>
					<div class="sub-container">
					<div class="teams">
						<img src = "./static/bg/2.jpg" height="100px" alt = "">
						<div class="names">Name 1</div>
						<div class="desig">Developer</div>
						<div class="about">Helloo im name 1</div>

						<div class="social-links">
							<a href="#"><i class="fa-fa-facebook"></i></a>
							<a href="#"><i class="fa-fa-instagram"></i></a>
							<a href="#"><i class="fa-fa-twitter"></i></a>
							<a href="#"><i class="fa-fa-github"></i></a>
						</div>
					</div>
					<div class="teams">
						<img src = "./static/bg/2.jpg" height="100px" alt = "">
						<div class="names">Name 2</div>
						<div class="desig">Developer</div>
						<div class="about">Helloo im name 1</div>

						<div class="social-links">
							<a href="#"><i class="fa-fa-facebook"></i></a>
							<a href="#"><i class="fa-fa-instagram"></i></a>
							<a href="#"><i class="fa-fa-twitter"></i></a>
							<a href="#"><i class="fa-fa-github"></i></a>
						</div>
					</div>
					<div class="teams">
						<img src = "./static/bg/2.jpg" height="100px" alt = "">
						<div class="names">Name 3</div>
						<div class="desig">Developer</div>
						<div class="about">Helloo im name 1</div>

						<div class="social-links">
							<a href="#"><i class="fa-fa-facebook"></i></a>
							<a href="#"><i class="fa-fa-instagram"></i></a>
							<a href="#"><i class="fa-fa-twitter"></i></a>
							<a href="#"><i class="fa-fa-github"></i></a>
						</div>
					</div>
					</div>
				</div>
			</div>
			<div class="image-section">
				<img src="./static/bg/img 2.jpg">
			</div>
		</div>
	</div>

	
</body>
</html>