<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        #grad1 {
            background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
            min-height: 100vh;
        }
    </style>
    <link rel="stylesheet" href="./static/css/aboutus.css">
</head>
<body>
    <div id="grad1">
        <div class="topnav" id="myTopnav">
            <div class="fullnavbar">
                <a href="#home" class="active">Virgin Hyperloop</a>
                <a href="#news">Home</a>
                <a href="#contact">Worker</a>
                <a href="#contact">About Us</a>
                <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
            </div>
        </div>
        <section>
            <div class="container">


                <div class="alltext">
                    <p>Team LEVITATION feels glad to contribute idea of management for
                        Virgin Hyperloop in INDIA for Mumbai-Pune route. We have
                        analyzed and tried to give solutions for various problems which
                        can occur during passengers journey. Passenger flow is prepared in
                        such a way that no crowd gathering occurs. Our idea totally
                        focuses on saving time of passengers and providing them comfort
                        during their journey.</p>
                </div>
                <br>

                <div class="img-wrap" id="picture">
                    <img src="./static/bg/3.jpg">
                </div>
                <div class="team">
                    <h1>OUR TEAM</h1>
                </div>
                <br>
                <br>
                <br>    
                <div class="card">
                    <div class="content">
                        <div class="imgBx">
                            <img src="./static/bg/3.jpg">
                        </div>
                        <br>
                        <div class="contentBx">
                            <h3><b>Mr. Subha Bal Pal</b><br><span>Mai coding ki duniya </span></h3>
                        </div>
                    </div>
                    <ul class="sci">
                        <li style="--i:1">
                            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i> </a>
                        </li>
                        <li style="--i:2">
                            <a href="#"><i class="fa fa-github" aria-hidden="true"></i> </a>
                        </li>
                        <li style="--i:3">
                            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i> </a>
                        </li>
                    </ul>
                </div>

                <div class="card">
                    <div class="content">
                        <div class="imgBx">
                            <img src="./static/bg/3.jpg">
                        </div>
                        <br>
                        <div class="contentBx">
                            <h3><b>Mr. Abhishe Yadav</b><br><span>Once a leader </span></h3>
                        </div>
                    </div>
                    <ul class="sci">
                        <li style="--i:1">
                            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i> </a>
                        </li>
                        <li style="--i:2">
                            <a href="#"><i class="fa fa-github" aria-hidden="true"></i> </a>
                        </li>
                        <li style="--i:3">
                            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i> </a>
                        </li>
                    </ul>
                </div>

                

                <div class="card">
                    <div class="content">
                        <div class="imgBx">
                            <img src="./static/bg/3.jpg">
                        </div>
                        <br>
                        <div class="contentBx">
                            <h3><b>Mr. Shubhanshu Tiwari</b><br><span>Kya hi kahe aadmi 1 no hai</span></h3>
                        </div>
                    </div>
                    <ul class="sci">
                        <li style="--i:1">
                            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i> </a>
                        </li>
                        <li style="--i:2">
                            <a href="#"><i class="fa fa-github" aria-hidden="true"></i> </a>
                        </li>
                        <li style="--i:3">
                            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i> </a>
                        </li>
                    </ul>
                </div>

            </div>
            <br>
            <div class="line">
                <hr>
            </div>
            <br>
            <br>
        </section>
    </div>
    <script>
        function myFunction() {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        }
    </script>

</body>

</html>