<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="./static/css/seatstyle.css">
  <script defer src="./static/js/booking.js"></script>
</head>

<body>
  <div class="topnav" id="myTopnav">
    <div class="fullnavbar">
      <a href="#home" class="active">Virgin Hyperloop</a>
      <a href="#news">Home</a>
      <a href="#contact">Worker</a>
      <a href="#contact">About Us</a>
      <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
    </div>
  </div>

  <div class="everything">
    <div class="alltext">
      <h1>Congratulations on successfull registration</h1>
      <div class="text2">
        <h2>Kindly select your seats </h2>
      </div>
    </div>
    <div class="show">
      <ul class="showcase">
        <li>
          <div class="seat"></div>
          <small><b>Available</b></small>
        </li>
        <li>
          <div class="seat booked"></div>
          <small><b>Booked</b></small>
        </li>
        <li>
          <div class="seat sold"></div>
          <small><b>Sold</b></small>
        </li>
      </ul>
    </div>
    <br>
    <div class="container">

      <div class="row">
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>

      </div>

      <div class="row">
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>

      </div>
      <div class="row">
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>

      </div>
      <div class="row">
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>

      </div>
      <div class="row">
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>

      </div>
      <div class="row">
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>

      </div>
      <div class="row">
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
      </div>
      <br>
      <div class="sub">
        <div class="button" onclick="window.location.href='{{'print_ticket'}}'">Submit</div>
      </div>
    </div>


</body>

</html>