
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/css/style3.css">
    <title>VIRGIN HYPERLOOP | HOME</title>
    
</head>
<body>
   <div class="container">
   <div id="text"; style="text-align: center;"> <h2> Click on the below buttons to generate a Ticket </h2></div>
   <div id="option-buttons" class="btn-grid"; style="text-align:center ;">
       <button class="btn" onclick="window.location.href='{{'pod_bay_ticket'}}'">Platform Acess Zone</button>
       <button class="btn" onclick="window.location.href='{{'pod_ticket'}}'">Pod Journey Ticket</button>
   </div>
   </div> 
</body>
</html>