<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VIRGIN HYPERLOOP | WELCOME</title>
    <link rel="stylesheet" href="./static/css/style.css">
</head>
<body>
<div class="container">
   <h1 style="text-align:center;"><b>WELCOME TO VIRGIN HYPERLOOP</b></h1>  
   <h2 style="text-align:center" > The Customer Booking Page <h2>
   <form action ="" method="post">
      <p style="text-align: center;font-size: 30px;">
         {{form.name.label}} <br>
         {{form.name(size=40,style='height: 30px')}}
      </p>
      <p style="text-align: center;font-size: 30px;">
         {{form.age.label}} <br>
         {{form.age(size=40,style='height: 30px')}}
      </p>
      <p style="text-align: center;font-size: 30px;">
         {{form.mobile.label}} <br>
         {{form.mobile(size=40,style='height: 30px')}}
      </p>
      <p style="text-align: center;font-size: 30px;">
         {{form.destination.label}} <br>
         {{form.destination(size=40,style='height: 30px')}}
      </p>
      <p class="btn" style="text-align: center; font-size: medium;">
         {{form.submit()}}
      </p>
</div> 
</body>
</html>
