<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VIRGIN HYPERLOOP | WELCOME</title>
    <link rel="stylesheet" href="./static/css/style2.css">
</head>
<body>
<div class="container">
   <h1 style="font-size:20px; text-align:center;"><b>Thanks for booking your journey with VIRGIN HYPERLOOP</b></h1>  
   <h2 style="text-align:center" > Journey Ticket <h2>
   <p style="margin:10; padding:0; font-size:15px; text-align:left;">
   Hyperloop
   <span style="float:right;">
   PNR:125687459
   </span>
   
   </p>
      <p style="margin:0; padding:0; font-size:30px; text-align:left;">
   21:40
   <span style="padding-bottom:50px; font-size:15px;">
   -------------30 min----------->
   </span>
   <span style="float:right;">
   22:10
   </span>
   </p>
   <p style="margin:0; padding:0; font-size:15px; text-align: left">
   Departure
   <span style="float:right;">
   Arrival
   </span>
   </p>
   <p style="margin:0; padding-top:20px; font-size:15px; text-align:left;">
   Portal Assigned
   <span style="float:right;">
   Date
   </span>
   </p>
   <p style="margin:0; padding:0; font-size:23px; text-align:left;">
   {{alloth}}
   <span style="float:right;">
   12-11-2021
   </span>
   </p>
   <p style="margin:0; padding-top:20px; font-size:15px; text-align:left;">
   Seat Alloted
   </p>
   <p style="margin:0; padding-top:0; font-size:23px; text-align:left;">
   T1
   </p>
   <p style="margin:0; padding-top:20px; font-size:15px; text-align:left;">
   Passenger Name
   </p>
   <p style="margin:0; padding-top:0; font-size:23px; text-align:left">
   {{nameh}}
   </p>

   </body>
   </div>
</body>
</html>