<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Virgin Hyperloop | Seat</title>
    <link rel="stylesheet" href="./static/css/style5.css">
</head>
<body>
<div class="container">
    <h1 style="text-align: center;"><b>Virgin Hyperloop</b></h1>
    <h2 style="text-align: center;">Congratulations on your succesful registration</h2>
    <p style="font-size: 150%">Kindly choose your seat-</p>
    <div id="option-buttons" class="btn-grid">
        <button class="btn">SEAT 1  </button>
        <button class="btn">SEAT 2  </button>
        <button class="btn">SEAT 3  </button>
        <button class="btn">SEAT 4  </button>
        <button class="btn">SEAT 5  </button>
        <button class="btn">SEAT 6  </button>
        <button class="btn">SEAT 7  </button>
        <button class="btn">SEAT 8  </button>
        <button class="btn">SEAT 9  </button>
        <button class="btn">SEAT 10 </button>
        <button class="btn">SEAT 11 </button>
        <button class="btn">SEAT 12 </button>
        <button class="btn">SEAT 13 </button>
        <button class="btn">SEAT 14 </button>
        <button class="btn">SEAT 15 </button>
        <button class="btn">SEAT 16 </button>
        <button class="btn">SEAT 17 </button>
        <button class="btn">SEAT 18 </button>
        <button class="btn">SEAT 19 </button>
        <button class="btn">SEAT 20 </button>
        <button class="btn">SEAT 21 </button>
        <button class="btn">SEAT 22 </button>
        <button class="btn">SEAT 23 </button>
        <button class="btn">SEAT 24 </button>
        <button class="btn">SEAT 25 </button>
        <button class="btn">SEAT 26 </button>
        <button class="btn">SEAT 27 </button>
        <button class="btn">SEAT 28 </button>        
    </div>

</div>    
</body>
</html>