<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script defer src="./static/js/ticket.js"></script>
  <title>Virgin Hyperloop | Ticket</title>
</head>

<body class="bg-dark">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#">Virgin Hyperloop</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" type="button" aria-current="page" onclick="window.location.href='{{'/'}}'">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" active" type="button" aria-current="page" onclick="window.location.href='{{'/aboutus'}}'">About us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" active" type="button" aria-current="page" onclick="window.location.href='{{'/worker'}}'">Worker</a>
          </li>
        </ul>            
      </div>
    </div>
  </nav>

  <br>
  <div class="position-absolute top-50 start-50 translate-middle">

    <form class="p-3 mb-2 bg-secondary">
      <div class="container my-4 col-12">
        <h1 style="font-size:20px; text-align:center;" class="text-white"><b>Thanks for booking your journey with VIRGIN
            HYPERLOOP</b></h1>
        <h2 style="text-align:center" class="text-white"> Journey Ticket <h2>
            <p style="margin:10; padding:0; font-size:15px; text-align:left;" class="text-white">
              Hyperloop
              <span style="float:right;">
                PNR:125687459
              </span>

            </p>

            <p style="margin:0; padding:0; font-size:30px; text-align:left;" class="text-white">
              21:40
              <span style="padding-bottom:50px; font-size:15px;" class="text-white">
                ---------------------------30 min---------------------------->
              </span>
              <span style="float:right;" class="text-white">
                22:10
              </span>
            </p>
            <p style="margin:0; padding:0; font-size:15px; text-align: left" class="text-white">
              Departure
              <span style="float:right;" class="text-white">
                Arrival
              </span>
            </p>
            <p style="margin:0; padding-top:20px; font-size:15px; text-align:left;" class="text-white">
              Portal Assigned
              <span style="float:right;">
                Date
              </span>
            </p>
            <p style="margin:0; padding:0; font-size:23px; text-align:left;" class="text-white">
              {{alloth}}
              <span id="datetoday" style="float:right;">
                Error
              </span>
            </p>
            <p style="margin:0; padding-top:20px; font-size:15px; text-align:left;" class="text-white">
              Seat Alloted
            </p>
            <p id="seat_ticket" style="margin:0; padding-top:0; font-size:23px; text-align:left;" class="text-white">
              Error
            </p>
            <p style="margin:0; padding-top:20px; font-size:15px; text-align:left;" class="text-white">
              Passenger Name
            </p>
            <p style="margin:0; padding-top:0; font-size:23px; text-align:left" class="text-white">
              {{nameh}}
            </p>

      </div>
      <div class="d-grid gap-2 col-4 mx-auto my-4">
        <button onclick="printPage()">Pint Ticket</button>
      </div>
    </form>
  </div>

  <script>
    function printPage() {
      window.print();
    }
  </script>


  <!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>

  <!-- Option 2: Separate Popper and Bootstrap JS -->
  <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
</body>

</html>