<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Worker Access</title>
    <link rel="stylesheet" href="/static/css/stylewaccess.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body>
  <div id="grade">
    <div class="center" id="popup">
      <h1>Login</h1>
      <form>
        <div class="txt_field">
          <input id="login" type="text" required>
          <span></span>
          <label>Username</label>
        </div>
        <div class="txt_field">
          <input id="password" type="password" required>
          <span></span>
          <label>Password</label>
        </div>
      </form>
      <div class="sub">
        <button id="submit" class="submit">Login</button>
      </div>
    </div>
    <div id="popup2">
      <h2> PLEASE ENTER CORRECT PASSWORD AND USERNAME </h2>
      <a href="#" class= "btn btn-secondary" onclick="check()" role="button">OK</a>
    </div>
    <script>
      document.getElementById("submit").addEventListener("click", submitted)

      function submitted() {
        if (document.getElementById("login").value == 'levitation' && document.getElementById("password").value == '222553') {
         window.open("/worker","_self")
        } else {
         check();
        }
      }

      function check(){
        var popup = document.getElementById("grade");
        popup.classList.toggle("active");
        var popup2 = document.getElementById("popup2");
        popup2.classList.toggle("active");
        
      }
    </script>

</body>
</html>