<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Worker Access</title>
    <link rel="stylesheet" href="/static/css/stylewaccess.css">
    <script defer src="/static/js/login.js"></script>
  </head>
  <body>
    <div class="center">
      <h1>Login</h1>
      <form>
        <div class="txt_field">
          <input id="login" type="text" required>
          <span></span>
          <label>Username</label>
        </div>
        <div class="txt_field">
          <input id="password" type="password" required>
          <span></span>
          <label>Password</label>
        </div>
      </form>
      <div class="sub">
        <button id="submit" class="submit">Login</button>
      </div>
       
      </div>
      
</body>
</html>