<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Worker Access</title>
    <link rel="stylesheet" href="/static/css/stylewaccess.css">
  </head>
  <body>
    <div class="center">
      <h1>Login</h1>
      <form>
        <div class="txt_field">
          <input id="login" type="text" required>
          <span></span>
          <label>Username</label>
        </div>
        <div class="txt_field">
          <input id="password" type="password" required>
          <span></span>
          <label>Password</label>
        </div>
        
        <input id="submit" type="submit" href="index.html" value="Login">
        
      </form>
    </div>
    <script>
      document.getElementById("submit").addEventListener("click", submitted)

    function submitted() {
      if (document.getElementById("login").value == 'levitation' && document.getElementById("password").value == '222553') {
        window.open("/worker","_self")
    } 
      else {
        alert("Please enter proper username and password")
    }
}
    </script>


  </body>
</html>
